@page "/versa"
@model Versa.Pages.Main

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
          Howdy, stranger!
    </div>
</body>
</html>